.message {
  width: fit-content;
  margin-bottom: 6px;
  background: grey;
}

.new-message {
  width: 100%;
  margin-bottom: 12px;
}

.private-message,
.public-message {
  display: flex;
  align-items: flex-end;
  background-color: #f1f1f1;
}
